/* app css stylesheet */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.jumbotron{
    background-color: transparent;
    padding-top:45px;
    margin-bottom: -30px;
}

.well{
    color: #1db7d7;
    font-weight: normal;
    background-color: transparent;
    border: 1px solid ##21C8CE;
    border-radius: 4px;
    /*width: 90%;*/
    margin-left: 30px:;
    float: right;
    /* top: 20px; */
    /* position: fixed; */
    left: 60px;
    right: 60px;
    overflow: auto;
}
.details{
    float: right;
    position: relative;
}
.cal-form{
    display: none;
}

a:hover {
    cursor: pointer;
}

div.well p:last-child {
    margin-bottom: 0;
}

div.row.calendar div.map {
    margin-bottom: 24px;
}
div.row.calendar div.map, div.row.calendar map {
    height: 400px;
}

/* Animate the details box */

div.row.calendar div.details.ng-enter, div.row.calendar div.details.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
}

div.row.calendar div.details.ng-enter, div.row.calendar div.details.ng-leave.ng-leave-active {
    max-height: 0;
}

div.row.calendar div.details.ng-enter.ng-enter-active, div.row.calendar div.details.ng-leave {
    /* Cannot CSS transition to max-height auto */
    max-height: 1000px;
}

div.row.calendar div.details h3 {
    /* Top margin of h3 tag causes a jump after animation finishes. */
    margin-top: 0;
}

div.container.calendar {
    padding-bottom: 32px;
    float:left;
}

.box{
    position: fixed;
    bottom:40px;
    width: 100%;
    height:800px;
    background: #020031;
    top:50px;
}
