
.ps-title-bar {
 /*   background-color: #1C7489;
    padding: 0 15px;
    border-bottom: 1px solid black;
    color: #AEE9F7;*/
    background-color: #6A219C;
    padding: 0 15px;
    border-bottom: 7px solid #9FE0AD
    color: #B8BFF1;
}

.ps-logo-area {
    /*text-align: center;*/
}

.ps-title-area {
    display: inline-block;
    /*display: none;*/
    margin:8px;
}



.ps-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    /*border: 1px solid #999;*/
}

.ps-logo {
    /*display: inline-block;*/
    width: 150px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    /*border: 1px solid #999;*/
}


.ps-logo-title {
    color: #7FE3A1;
    margin-top: 6px;
    font-size: 22px;
    /*display: none;*/
}

.ps-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
    color: #9FE0AD;
    /*display: none;*/
}

@media screen and (max-width: 430px) {
    .ps-icon {
        display: none;
    }
    .ps-logo-title {
        font-size: 18px;
    }

    .ps-title-area{
        display: none;
    }
}

@media screen and (max-width: 768px) and (min-width: 430px) {
    .ps-icon {
        display: none;
    }
    .ps-logo-title {
        font-size: 18px;
    }

    .ps-title-area{
        display: none;
    }
}

.ps-right-side-controls {
    line-height: 60px;
}

.ps-right-side-controls > div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .ps-right-side-controls > div {
        text-align: right;       
    }
    .ps-logo-area {
        text-align: left;
    }

    .ps-title-area{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .ps-right-side-controls > div {
        text-align: right;       
    }
    .ps-logo-area {
        text-align: left;
    }

    .ps-title-area{
        display: inline-block;
        /*display: none;*/
        margin:8px;
        float: right;
    }

    .backgroundI {

        /*background-image: url(../../content/images/faded.png);
        background-size: cover;
        */
        position: relative;
        overflow: hidden;
        background-color: #0D021F;
       /* -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);*/
    }

    .backgroundI:before
        {
           background-color: #0D021F;
           /* background: url(../../content/images/faded.png) 0 0 repeat;
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
            top: -50%;*/
        }
}

.ps-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.ps-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.ps-view {
    margin-left: 200px;
    padding: 20px;
    background-color: ##240B35;;
    min-height: 100vh;
    overflow: auto;
}
.btn-default:hover {
    color: #6A219C !important;
    background-color: #9FE0AD !important;
    border-color: #6A219C !important;
}
.btn-default {
    color: #8C25DD !important;
    background-color: #71DD69 !important;
    border-color: #6A219C !important;
}


span {
    color: #9FE0AD !important;
}

.ps-view-full-width {
    margin-left: 0;
}


.ps-user-profile {
    background-color: transparent;
    color: #300B6C;
    width: 200px;
    min-height: 120px;
    padding-top: 10px;
}

.ps-user-profile > div {
    display: inline-block;
    padding-top: 10px;
    margin-left: 5px;
}

.ps-user-profile > div > p {
    margin-bottom: 2px;
}

.ps-user-profile > div > button {
    margin-top: 8px;
}

.ps-user-profile img {
    float: left;
    margin: 12px;
    width: 80px;
    height: 80px;
}

.ps-user-profile-small {
    color: #333;
    padding-top: 4px;
}

.ps-user-profile-small > span {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.ps-user-profile-small img {
    width: 40px;
    height: 40px;
}


